* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
    display:flex;
    flex-direction: column;
    align-items: stretch;
   background-color:red;
}
.menu-container {
  color: #fff;
  background-color: #5995DA; 
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.header-container{
    color: #5995DA;
    background-color: #D6e9fe;
    display: flex;
    justify-content: center;
}

.header {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
}

.extra-dashboard ,
.main-dashboard {
    width: 50%;    
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.extra-dashboard {
    background-color: cyan;
}

.dashboard-container h3 {
    margin-bottom: 20px;
}

.footer {
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.footer-item {
    background-color: #D6e9fe;
    height:40px;
    flex: 1;	
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-one,
.footer-three {
    flex: initial;
    background-color: #5995da;
    width: 200px;
}
